{% extends 'portfolio/layout.html' %}
{% block content %}
<div class="container mt-5 text-center">
    <div class="alert alert-success shadow-sm d-inline-block p-4 border-0">
        <h3 class="fw-bold"><i class="fa-solid fa-check-circle me-2"></i>Radar Ativado</h3>
        <p class="mb-0">Se o teu email constar nos nossos registos militares o link já está a voar para a tua caixa de correio.</p>
        <p class="small text-muted mt-2">Verifica o teu terminal para veres o tiro.</p>
    </div>
</div>
{% endblock %}